.modal {
	width: $full-width;
	height: $full-height;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(24, 25, 26, 0.98);
	z-index: 999;

	.modal__body {
		.scroll-with--sticky-header {
			overflow-y: auto;
			&::-webkit-scrollbar {
				width: 0;
			}
		}
	}

	&.confirmation-model {
		.modal__body {
			max-height: 300px !important;
			box-sizing: content-box;
			@include padding(0 20px);
		}
	}
}
.modal {
	background-color: rgba(24, 25, 26, 0.7) !important;
}
.modal-dialog {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 680px;
	display: flex;
	justify-content: center;
	align-items: center;

	.modal-content {
		position: relative;
		margin: 0 auto;
		height: fit-content;
		padding: 30px;
		border-radius: 5px;
		background: $white;
		max-width: 235px;
		width: 100%;

		div::-webkit-scrollbar {
			-ms-overflow-style: none;
			/* IE and Edge */
			scrollbar-width: none;
			display: none;
			opacity: 0;
		}
	}
	.modal-close-btn {
		position: absolute;
		top: 10px;
		right: 15px;
	}
}
