.sm-container {
	width: 100%;
	max-width: 290px;
	margin: 50px auto 0 auto;
	min-height: 640px;
	background-color: $white;
	border-radius: 20px;
	padding: 20px;
}

.dashboard-wrapper {
	.group-list-wrapper {
		.circle-wrapper {
			width: 52px;
			height: 52px;
		}
		.list-wrapper {
			.img-wrapper {
				height: 60px;
				width: 60px;
				background-color: $primary;
			}
		}
		.button-wrapper {
			border: 2px solid $primary;
			padding: 5px 8px;
			width: 140px;
			margin: 0 auto;

			.btn {
				color: $primary;
			}
		}
		.expense-btn-wrapper {
			background-color: $primary;
			width: 130px;
			padding: 5px 8px;
			.expense-btn {
				color: $white;
			}
		}
	}
}

.header-wrapper {
	bottom: 0;

	.header-menu-wrapper {
		gap: 10px;
		svg {
			fill: getColor($grey, 50);

			path {
				fill: getColor($grey, 50);
			}
		}
		.expense {
			width: 40px;
			height: 40px;
			path {
				fill: $white;
			}
		}
		.purple-icon {
			fill: $primary;
			path {
				fill: $primary;
			}
		}
	}
}
.expenses-wrapper {
	.owe-list-wrapper {
		padding: 10px;
		background-color: $primary;
		.left-arrow {
			fill: $white;
		}
	}

	.expense-btn-wrapper {
		width: 140px;
		height: 35px;
		background-color: $primary;
		bottom: 50px;
		right: 20px;
	}

	.settle-up {
		color: $white;
		font-size: $font-size-sm;
		width: 80px;
		height: 35px;
		background-color: $primary;
	}
}
.expenses-list {
	.expense-details {
		border: 2px solid $primary;
		border-radius: 20px;
		padding: 10px;
	}
}

.friend-list-wrapper {
	.friend-list {
		background-color: #eaeced;
		padding: 10px;
		.img-wrapper {
			width: 30px;
			height: 30px;
		}
	}
}

.expense-form-wrapper {
	.input-field {
		border: 2px solid $primary;
		border-radius: 10px;
		height: 42px;
		padding-left: 10px;
	}
	.error-message {
		color: getColor($red, 100);
		font-size: 11px;
	}

	.check-wrapper {
		display: block;
		position: relative;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-weight: 500;
		height: 30px;
		width: 30px;
	}

	.checkmarks {
		position: absolute;
		top: 0;
		left: 0;
		width: 18px;
		background-color: $white;
		border-radius: 4px;
		border: 2px solid $primary;
		height: 20px;
		width: 20px;

		&::after {
			content: '';
			position: absolute;
			display: none;
			left: 7px;
			top: 3px;
			width: 3px;
			height: 10px;
			border: solid $primary;
			border-width: 0 4px 4px 0;
			transform: rotate(45deg);
		}
	}

	.check-wrapper:hover input ~ .checkmarks {
		background-color: $white;
	}

	.check-wrapper input:checked ~ .checkmarks {
		background-color: $white;
	}

	.check-wrapper input:checked ~ .checkmarks:after {
		display: block;
	}

	.btn-wrapper {
		gap: 20px;
	}
	.add-btn {
		margin-top: 150px;
		width: 150px;
		height: 35px;
		color: $white;
		background-color: $primary;
	}
}

.yes-btn {
	background-color: $primary;
	padding: 5px 5px;
	width: 100px;
	color: $white;
}
.correct-icon {
	fill: $primary;
}
